## Chair Selection for a Conference

Some very simple code to help automate the chair selection for the AAS meeting.

This assumes that the information about all potential chairs is compiled in a single spread sheet which has columns describing the name, but more importantly the area of expertise and the session date and time where they give a talk as in the example in the `data` folder.

#### Requirements
* python 2.7 or 3.5
* numpy
* pandas

In [1]:
import numpy as np
import pandas as pd

Let's make some example data. That also requires the package `names`, so if you don't have it, or don't want to install it, then ignore the following section and go to `Selecting a Chair for a Session` below.

We're going to generate 100 names and then define some areas of expertise as well as some sessions for each of them.

In [5]:
import names

In [10]:
last_names = np.array([names.get_last_name() for i in xrange(100)])
first_names = np.array([names.get_first_name() for i in xrange(100)])

In [11]:
## Set up areas of expertise for all of them
expertises = ["Stars", "Galaxies", "Black Holes", "Neutron Stars", 
             "Planets", "Cosmology", "Gas and Dust", "Aliens", "Education"]

area_of_expertise_1 = np.random.choice(expertises, size=last_names.shape[0])
area_of_expertise_2 = np.random.choice(expertises, size=last_names.shape[0])
area_of_expertise_3 = np.random.choice(expertises, size=last_names.shape[0])

In [15]:
## set up session dates and times
dates = ["10/04/2015", "10/05/2015", "10/06/2015"]
start_times = ["9:00:00 AM", "11:00:00 AM", "2:00:00 PM"]
end_times = ["10:30:00 PM", "12:30:00 PM", "3:30:00 PM"]

session_date = np.random.choice(dates, size=last_names.shape[0])
session_start = np.random.choice(start_times, size=last_names.shape[0])
session_end = np.random.choice(end_times, size=last_names.shape[0])

Now we can set up a DataFrame:

In [16]:
df_dict = {"last_name":last_names,
          "first_name":first_names,
          "area_of_expertise_1":area_of_expertise_1,
          "area_of_expertise_2":area_of_expertise_2,
          "area_of_expertise_3":area_of_expertise_3,
          "session_date":session_date,
          "session_start":session_start,
          "session_end": session_end
          }

df = pd.DataFrame(df_dict)

In [17]:
df.head()

,area_of_expertise_1,area_of_expertise_2,area_of_expertise_3,first_name,last_name,session_date,session_end,session_start
0,Gas and Dust,Neutron Stars,Stars,Alan,Pierce,10/04/2015,10:30:00 PM,9:00:00 AM
1,Aliens,Stars,Planets,Thomas,Viveiros,10/05/2015,3:30:00 PM,11:00:00 AM
2,Cosmology,Neutron Stars,Black Holes,Anna,Stafford,10/04/2015,3:30:00 PM,2:00:00 PM
3,Aliens,Planets,Black Holes,Edward,Cook,10/05/2015,3:30:00 PM,11:00:00 AM
4,Neutron Stars,Cosmology,Gas and Dust,Addie,Levine,10/06/2015,12:30:00 PM,9:00:00 AM

Let's dump this into a `.csv` file for future use: